
div{
    margin-bottom: 0px;
}
p{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.product {
  display: flex;
}
.productPhoto {
  width: 400px;
  max-height: 500px;
}
.productSpecifications {
  width: 900px;
  padding-top: 30px;
  padding-left: 30px;
}
.productProperty{
    margin:0px;
}
.productProperty div{
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-left: 0px;
  p {
    font-size: 20px;
    // border-bottom: 0px;
  }
  .productPropertyText {
    max-width: 300px;
    // overflow: hidden;
    &li:after {
     
    }
  }
  .productPropertyParameter ul{
    padding-left: 0px;
    margin-left: 0px;
    width: 300px;
     ul{
        overflow: hidden; 
    }
  }
}

.productPropertyList {
  display: flex;
  justify-content: space-between;
    width: 600px;
    margin-bottom: 0px;
  &ul {
    margin-bottom: 0px;
    background-color: pink;
  }
}

.productPropertyParameter:after {
    
  ul{
    display: grid-row;
  }

//   white-space: nowrap;
//   overflow: hidden;
//   width: 300px;
}

.productPropertyValue {
  width: 300px;
}

.navigateBtn{
  display : flex;
  justify-content: space-around;
}
.navigateBtnBack{
  display: inline-block;
  // background-color: $orange;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  // transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
  border: 1px solid transparent;
  // @include noselect();
  
    &:hover{
      background-color: #f60;
      
    }
  
}
