
div {
  margin-bottom: 0px;
}
p {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.product {
  display: flex;

  &__Excerpt{
    display:block;
    // justify-content:space-between;
    background-color:pink;
  }

  &Memeres {
    display: flex;
    cursor: pointer;
    padding: 0px 10px 5px 0px;
  }
  &Photo {
    width: 400px;
    max-height: 500px;
  }
  &Specifications {
    width: 900px;
    height:100%;
    padding-top: 30px;
    padding-left: 30px;
    li {
      margin: 4px 5px 4px 0px;
      padding: 4px 4px 4px 0px;
    }
  }
  &Property {
    margin: 0px;
    
  }
  &Property div {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 0px;
    p {
      font-size: 20px;
    }
    .productPropertyText {
      max-width: 300px;
    }
    .productPropertyParameter ul {
      padding-left: 0px;
      margin-left: 0px;
      width: 300px;
      ul {
        overflow: hidden;
      }
    }
  }
  &PropertyList {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-bottom: 0px;
    &ul {
      margin-bottom: 0px;
      background-color: pink;
    }
  }
  &PropertyParameter:after {
    ul {
      display: grid-row;
    }
  }
}



.navigateBtn {
  display: flex;
  justify-content: space-around;
}
.navigateBtnBack {
  display: inline-block;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover {
    background-color: #c03;
  }
}
.color {
  display: flex;
  justify-content: left;
  ul {
    margin-left: 40px;
  }
  &Black {
    margin: 10px 5px 20px 5px;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background-color: black;
  }
  &While {
    margin: 10px 5px 20px 5px;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background-color: rgb(199, 199, 199);
  }
  &Coral {
    margin: 10px 5px 20px 5px;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background-color: Coral;
  }
  .active {
    border: 5px solid #c03(255, 0, 43);
    // border: 2px solid black;
  }
}

.active {
  background-color: rgb(191, 191, 191);
  border-radius: 5px;
}
